{% set locale = page.url.split('/')[1] %}
<header>
  <div class="logo uppercase">{{"slovenian-hut-jose-kastelic" | i18n }}</div>
  <nav>
    <ul class="menu">
      <li><a href="">{{ "homepage" | i18n }}</a></li>
      <li><a href="">{{ "the-hut" | i18n }}</a></li>
      <li><a href="">{{ "visit" | i18n }}</a></li>
      <li><a href="">{{ "activities" | i18n }}</a></li>
      <li><a href="">{{ "gallery" | i18n }}</a></li>
      <li><a href="">{{ "news" | i18n }}</a></li>
    </ul>
  </nav>
</header>
