{% set currentLocale = page.url.split('/')[1] %}

<header>
  <h1>{{ title }}</h1>

  {% set locale = page.url.split('/')[1] %}

  <nav>
    <ul>
      {% for key, item in i18n.nav %}
        <li>
          <a href="/{{ locale }}/{{ key }}/">
            {{ item.label[locale] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

</header>
