<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <!-- ! <link rel="icon" href="/img/favicon.png" /> -->
    <link rel="stylesheet" href="/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
  </head>
  <body>
    {% include "lang-switcher.njk" %}
    <div class="page">
      {% include "header.njk" %}

      <main>{{ content | safe }}</main>

      {% include "footer.njk"%}
      <script src="/js/main.js"></script>
      <script
        src="https://kit.fontawesome.com/b5144e464e.js"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
