<nav>
  <ul class="nav__menu">
    <li class="nav__menu-item">
      <a href="/" class="nav__menu-link">INICIO</a>
    </li>
    <li class="nav__menu-item">
      <a href="#" class="nav__menu-link">REFUGIO</a>
      <!-- menú desplegable -->
      <ul>
        <li><a href="/ubication">UBICACIÓN</a></li>
        <li><a href="/activities">ACTIVIDADES</a></li>
        <li><a href="/bookings">RESERVAS</a></li>
      </ul>
    </li>
    <li class="nav__menu-item">
      <a href="#" class="nav__menu-link">MENDOZA</a>
      <!-- otro menú desplegable -->
    </li>
    <li class="nav__menu-item">
      <a href="#" class="nav__menu-link">LOS PENITENTES</a>
      <!-- otro menú desplegable -->
    </li>
    <li class="nav__menu-item">
      <a href="/info" class="nav__menu-link">INFO</a>
    </li>
  </ul>
</nav>
 