<nav>
  <ul class="nav__menu">
    <li class="nav__menu-item">
      <a href="/" class="nav__menu-link">inicio</a>
    </li>
    <li class="nav__menu-item">
      <a href="#" class="nav__menu-link">el refugio</a>
      <!-- menú desplegable -->
      <ul>
        <li><a href="/ubication">ubicación</a></li>
        <li><a href="/activities">actividades</a></li>
        <li><a href="/bookings">reservas</a></li>
      </ul>
    </li>
    <li class="nav__menu-item">
      <a href="#" class="nav__menu-link">mendoza</a>
      <!-- otro menú desplegable -->
    </li>
    <li class="nav__menu-item">
      <a href="#" class="nav__menu-link">los penitentes</a>
      <!-- otro menú desplegable -->
    </li>
    <li class="nav__menu-item">
      <a href="/info" class="nav__menu-link">info</a>
    </li>
  </ul>
</nav>
