/* .navigation {
  width: 420px;
  height: 70px;
  background-color: #209cff;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;

  ul {
    display: flex;
    width: 350px;
    li {
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;
    }
  }
}
 */
