---
layout: layout.njk
lang: es
title: Inicio
description: Inicio de la página web
---

<section class="hero">
  <span class="hero-content uppercase">
    <h1 class="cut-text">Eslovenos bajo Los Andes</h1>
    <div class="subtitle uppercase">Dormí al abrigo de la cordillera</div>
  </span>
  <div class="hero-img-top"></div>
</section>

{% for section in es.refugio.sections %}
  {% set currentSection = section %}
  {% include "cards.njk" %}
{% endfor %}
