button {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: var(--best-friends) var(--close-friends);
  text-align: center;

  transition: var(--transtion-time-fast);

  max-width: 12rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  border: 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-top: 3px solid var(--color-primary);
  line-height: 1rem;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  border-top: 3px solid var(--color-primary-lighter);
  background-color: var(--color-primary-darker);
}

button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

button:active:not(:disabled) {
  background-color: var(--color-primary-lighter);
  border-top-color: var(--color-primary-lighter);
}
