/* Hide the default cursor for the entire body */
*,
*::before,
*::after {
  cursor: none !important;
}

.custom-cursor {
  position: fixed; /* Stays in the viewport */
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Makes it a circle */
  background-color: #519e8a;
  pointer-events: none; /* Allows clicks to pass through the custom cursor to elements beneath it */
  transform: translate(
    -50%,
    -50%
  ); /* Centers the cursor element on the mouse coordinates */
  transition: transform 0.1s ease; /* Optional: adds a smooth movement effect */
  z-index: 9999; /* Ensures it's above other content */
}

a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  transform: translate(-50%, -50%) scale(0.6);
}
