//base

@use "base/reset";

//components

@use "components/buttons";
/* @use "components/cursor"; */
@use "components/dropdown";

//sections
@use "sections/header";
@use "sections/nav";

//mixins
@import "mixins/font-face";

@include font-face("Noto Sans", "/fonts/NotoSans-VariableFont_wdth,wght");

//dark and light mode
@import "base/themes/theme-light";
@import "base/themes/theme-dark";

/* @media (prefers-color-scheme: light) {
  :root {
    @include theme-light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
} */

html.theme-dark {
  @include theme-dark;
}

html.theme-light {
  @include theme-light;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background);
}
