@mixin font-face($font-family, $path) {
  @font-face {
    font-family: $font-family;
    src: url("#{$path}.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
}
